.back_color{
    --background: linear-gradient(197deg, rgb(241, 47, 89) 0%, rgb(245, 50, 109) 13.5%, rgb(238, 64, 93) 43.33%, rgb(223, 48, 86) 43.33%);
      
    
}

.header_color {
    --ion-background-color : rgb(238, 34, 102);
    color: aliceblue;
}