<ion-header>
  <ion-toolbar class="header_color">
    <ion-button slot="start"><ion-back-button defaultHref= "about-community" color="red"></ion-back-button></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class= "back_color">


  
  <!-- Scrollable Segment -->
  <ion-segment scrollable>
    <ion-segment-button value="Home">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value ="heart">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <!-- <ion-segment-button>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button> -->
    <ion-segment-button>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <!-- <ion-segment-button>
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button> -->
    <!-- <ion-segment-button>
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
  </ion-segment> -->
  
  <!-- Segment with secondary color -
  <ion-segment (ionChange)="segmentChanged($event)" color="secondary">
    <ion-segment-button value="standard">
      <ion-label>Standard</ion-label>
    </ion-segment-button>
    <ion-segment-button value="hybrid">
      <ion-label>Hybrid</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sat">
      <ion-label>Satellite</ion-label>
    </ion-segment-button>
  </ion-segment>
  
   Segment in a toolbar 
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="camera">
        <ion-icon name="camera"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bookmark">
        <ion-icon name="bookmark"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
   Segment with default selection 
  <ion-segment (ionChange)="segmentChanged($event)" value="javascript">
    <ion-segment-button value="python">
      <ion-label>Python</ion-label>
    </ion-segment-button>
    <ion-segment-button value="javascript">
      <ion-label>Javascript</ion-label>
    </ion-segment-button>
  </ion-segment>-->

</ion-segment>
</ion-content>
